{% extends "bucketList.html.twig" %}

{% block body %}
    <div class="jumbotron text-center mr-5 ml-5 mt-3">
        <h2>Bienvenue sur "Bucket-list"</h2>
    </div>

{% endblock %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

