{% extends 'bucketList.html.twig' %}

{% block title %}{{ parent() }} - Formulaire{% endblock %}

{% block body %}
    <div class="jumbotron text-center mr-5 ml-5 mt-3 bg-warning">
        <h2>Ajouter un wish</h2>
    </div>
    <div class="ml-5 w-50">
        {% include ('include/_formulaire.html.twig') %}
        <div class="mt-2 mb-3">
            <button class="btn btn-outline-success">Enregistrer</button>&nbsp;<button  class="btn btn-danger " type="reset" >Annuler</button>
        </div>
        {{ form_end(wishForm) }}
    </div>

{% endblock %}



